body {
    background: red;
}

h3 {
  color: green;
}
h1 {
    color: green;
  }
h2 {
    color: green;
  }

  .foto-principal {
    width: 200px;  
  }

  #titulo-principal {
    color: yellow
  }